/*
TODO: Need to add more sizes -xs, -sm, -md, -lg, -xl like bootstrap.
*/

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 767px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.table-pivot table, .table-pivot thead, .table-pivot tbody, .table-pivot th, .table-pivot tr, .table-pivot td { 
		display: block; 
	}
	
	.table-pivot > thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table-pivot > tfoot tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-pivot tr { border: 1px solid #ccc; }
	
	.table-pivot td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		text-align: left;
	}
	
	.table-pivot td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align: left;
	}
	
	/*
	Label the data
	*/
	.table-pivot > tbody > tr > td:before {content: attr(data-display); }
}